---
import MainLayout from "../../layouts/MainLayout.astro"
import {getAllPosts} from "../../sanity/api.js";
import { urlFromImage } from '../../sanity/urlFromImage.js';

const posts = await getAllPosts();

---

<MainLayout title="GATERIS">
	<div class="text-3xl font-bold underline">Gaterī ar...</div>
	<ul class="flex gap-2">
        {posts.map(post => (
          <li class="font-bold text-2xl">
            <a href={`/posts/${post.slug.current}`}>
            <img src={urlFromImage(post.mainImage).url()} width="400px" height="200px" />
            {post.title}
            </a>
          </li>
        ))}
      </ul>
    </MainLayout>