---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="GATERIS">
	<div class="text-3xl font-bold underline">PAR GATERI</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque provident eligendi omnis incidunt nisi modi possimus harum dolore, iure dignissimos perspiciatis culpa sint quibusdam fugit repudiandae nulla iusto maxime dolorem quaerat rerum accusamus laudantium vero impedit delectus. Soluta, animi libero.</p>
</MainLayout