---
const pathname = Astro.url.pathname;
const currentPath = pathname.slice(1);
---

<header>
    <nav>
        <ul class="flex gap-3">
        <li ><a class={currentPath === "" ? "font-bold" : ""} href="/">Home</a></li>
        <li ><a class={currentPath === "about/" ? "font-bold" : ""}  href="/about/">Par Gateri</a></li>
        <li><a class={currentPath === "gallery/" ? "font-bold" : ""} href="/gallery/">Galerija</a></li>
        <li><a class={currentPath === "records/" ? "font-bold" : ""} href="/records/">Ieraksti</a></li>
        <li><a class={currentPath === "posts/" ? "font-bold" : ""} href="/posts/">Gaterī ar...</a></li>
        </ul>
    </nav>
</header>

